In [7]:
# Install Supabase
!pip3 install supabase

# Init Supabase and read from .env
import os
from supabase import create_client, Client

url: str = os.environ.get("VITE_SUPABASE_URL")
key: str = os.environ.get("VITE_SUPABASE_ANON_KEY")
google_places_key: str = os.environ.get("VITE_GOOGLE_MAP_KEY_SERVER")
supabase: Client = create_client(url, key)

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: supabase in /usr/local/lib/python3.9/site-packages (0.5.6)
Requirement already satisfied: realtime<0.0.5,>=0.0.4 in /usr/local/lib/python3.9/site-packages (from supabase) (0.0.4)
Requirement already satisfied: storage3<0.4.0,>=0.3.1 in /usr/local/lib/python3.9/site-packages (from supabase) (0.3.1)
Requirement already satisfied: postgrest-py<0.11.0,>=0.10.2 in /usr/local/lib/python3.9/site-packages (from supabase) (0.10.2)
Requirement already satisfied: gotrue<0.6.0,>=0.5.0 in /usr/local/lib/python3.9/site-packages (from supabase) (0.5.0)
Requirement already satisfied: httpx<0.22.0,>=0.21.3 in /usr/local/lib/python3.9/site-packages (from supabase) (0.21.3)
Requirement already satisfied: pydantic<2.0.0,>=1.9.0 in /usr/local/lib/python3.9/site-packages (from gotrue<0.6.0,>=0.5.0->supabase) (1.9.0)
Requirement already satisfied: rfc3986[idna2008]<2,>=1.3 in /usr/local/lib/python3.9/site-packages (from httpx<0.22.0,>=0.21.3->supabase) (1.5.0)
Requirement already satisfied: httpcore<0.15.0,>=0.14.0 in /usr/local/lib/python3.9/site-packages (from httpx<0.22.0,>=0.21.3->supabase) (0.14.3)
Requirement already satisfied: charset-normalizer in /usr/local/lib/python3.9/site-packages (from httpx<0.22.0,>=0.21.3->supabase) (2.0.9)
Requirement already satisfied: certifi in /usr/local/lib/python3.9/site-packages (from httpx<0.22.0,>=0.21.3->supabase) (2021.10.8)
Requirement already satisfied: sniffio in /usr/local/lib/python3.9/site-packages (from httpx<0.22.0,>=0.21.3->supabase) (1.2.0)
Requirement already satisfied: deprecation<3.0.0,>=2.1.0 in /usr/local/lib/python3.9/site-packages (from postgrest-py<0.11.0,>=0.10.2->supabase) (2.1.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.8.1 in /usr/local/lib/python3.9/site-packages (from realtime<0.0.5,>=0.0.4->supabase) (2.8.2)
Requirement already satisfied: websockets<10.0,>=9.1 in /usr/local/lib/python3.9/site-packages (from realtime<0.0.5,>=0.0.4->supabase) (9.1)
Requirement already satisfied: typing-extensions<5.0.0,>=4.2.0 in /usr/local/lib/python3.9/site-packages (from storage3<0.4.0,>=0.3.1->supabase) (4.2.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/site-packages (from deprecation<3.0.0,>=2.1.0->postgrest-py<0.11.0,>=0.10.2->supabase) (21.3)
Requirement already satisfied: h11<0.13,>=0.11 in /usr/local/lib/python3.9/site-packages (from httpcore<0.15.0,>=0.14.0->httpx<0.22.0,>=0.21.3->supabase) (0.12.0)
Requirement already satisfied: anyio==3.* in /usr/local/lib/python3.9/site-packages (from httpcore<0.15.0,>=0.14.0->httpx<0.22.0,>=0.21.3->supabase) (3.4.0)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.9/site-packages (from anyio==3.*->httpcore<0.15.0,>=0.14.0->httpx<0.22.0,>=0.21.3->supabase) (3.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/site-packages (from python-dateutil<3.0.0,>=2.8.1->realtime<0.0.5,>=0.0.4->supabase) (1.16.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.9/site-packages (from packaging->deprecation<3.0.0,>=2.1.0->postgrest-py<0.11.0,>=0.10.2->supabase) (3.0.8)
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
WARNING: There was an error checking the latest version of pip.

In [10]:
facebook = supabase.table('facebook').select('*').execute().data

In [11]:
import pandas as pd

# Write facebook to a pandas dataframe
facebook = pd.DataFrame(facebook)

In [20]:
# Save facebook to a pkl
facebook.to_pickle('facebook.pkl')
facebook

,id,upi,netid,email,mailbox,first_name,last_name,school_code,school,curriculum,...,pronouns,phonetic_name,suffix,fax,city_as_point,birth_day,birth_month,visitor,preferred_name,place_id
0,41454.0,24042092.0,ts893,tuanfeng.sun@yale.edu,tuanfeng.sun@bulldogs.yale.edu,Stefan,Sun,GS,Graduate School of Arts & Sciences,Interdpt Neuroscience Pgm,...,None,None,None,NaN,None,None,None,None,None,None
1,18244.0,11099849.0,bjv6,brenda.hine@yale.edu,bjv6@connect.yale.edu,Brenda,Hine,None,None,None,...,None,None,None,NaN,"{'type': 'Point', 'coordinates': [-72.928949, ...",None,None,None,None,ChIJ5XCAOkTY54kR7WSyWcZUo_Y
2,13319.0,17115617.0,mcf54,marley.finley@yale.edu,marley.finley@bulldogs.yale.edu,Marley,Finley,YC,Yale College,None,...,None,None,None,NaN,"{'type': 'Point', 'coordinates': [-77.18713489...",None,None,None,None,None
3,23253.0,15644816.0,tl476,tara.landino@yale.edu,tl476@connect.yale.edu,Tara,Landino,None,None,None,...,None,None,None,NaN,"{'type': 'Point', 'coordinates': [-72.9298263,...",None,None,None,None,ChIJ5XCAOkTY54kR7WSyWcZUo_Y
4,45561.0,14719710.0,afs52,aalyia.sadruddin@yale.edu,aalyia.sadruddin@bulldogs.yale.edu,Aalyia,Sadruddin,None,None,None,...,None,None,None,NaN,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48779,NaN,24574651.0,js4353,junliang.shen@yale.edu,js4353@connect.yale.edu,Junliang,Shen,None,None,None,...,None,None,None,NaN,None,None,None,None,None,ChIJ5XCAOkTY54kR7WSyWcZUo_Y
48780,38073.0,17620738.0,qw96,qingqing.wang@yale.edu,qw96@connect.yale.edu,Qingqing,Wang,None,None,None,...,None,None,None,NaN,"{'type': 'Point', 'coordinates': [-72.92243959...",None,None,None,None,ChIJ5XCAOkTY54kR7WSyWcZUo_Y
48781,40359.0,24114665.0,sbt27,samuel.tigistu@yale.edu,samuel.tigistu@bulldogs.yale.edu,Samuel,Tigistu,YC,Yale College,None,...,None,None,None,NaN,"{'type': 'Point', 'coordinates': [-121.8643381...",10,3,None,None,ChIJ9T_5iuTKj4ARe3GfygqMnbk
48782,31608.0,10189227.0,mgs22,michael.sullivan@yale.edu,mgs22@connect.yale.edu,Michael,Sullivan,None,None,None,...,None,None,None,NaN,"{'type': 'Point', 'coordinates': [-72.9228177,...",None,None,None,None,ChIJ5XCAOkTY54kR7WSyWcZUo_Y
48783,16991.0,17567987.0,lwh3,lily.halpern@yale.edu,lwh3@connect.yale.edu,Lily,Halpern,None,None,None,...,None,None,None,NaN,None,None,None,None,None,ChIJ5XCAOkTY54kR7WSyWcZUo_Y

In [42]:
# Filter to give the places that have no place ID but a year, address, netid, school, and college
facebook_filtered = facebook[facebook['place_id'].isnull()]
facebook_filtered = facebook_filtered[facebook_filtered['year'].notnull()]
facebook_filtered = facebook_filtered[facebook_filtered['address'].notnull()]
facebook_filtered = facebook_filtered[facebook_filtered['netid'].notnull()]
facebook_filtered = facebook_filtered[facebook_filtered['school'].notnull()]
facebook_filtered = facebook_filtered[facebook_filtered['college'].notnull()]
# Print details about array
print(f"{len(facebook_filtered)} facebook users have no place ID but a year, address, netid, school, and college")
facebook_filtered

5830 facebook users have no place ID but a year, address, netid, school, and college

,id,upi,netid,email,mailbox,first_name,last_name,school_code,school,curriculum,...,pronouns,phonetic_name,suffix,fax,city_as_point,birth_day,birth_month,visitor,preferred_name,place_id
2,13319.0,17115617.0,mcf54,marley.finley@yale.edu,marley.finley@bulldogs.yale.edu,Marley,Finley,YC,Yale College,None,...,None,None,None,NaN,"{'type': 'Point', 'coordinates': [-77.18713489...",None,None,None,None,None
20,4358.0,24313123.0,esb74,edward.bohannon@yale.edu,edward.bohannon@bulldogs.yale.edu,Edward,Bohannon,YC,Yale College,None,...,None,None,None,NaN,"{'type': 'Point', 'coordinates': [-85.0753331,...",2,12,None,None,None
44,4381.0,24586755.0,jmb393,joshua.bolchover@yale.edu,joshua.bolchover@bulldogs.yale.edu,Joshua,Bolchover,YC,Yale College,None,...,None,None,None,NaN,None,29,3,None,None,None
63,7271.0,24064379.0,zc293,zixin.chen@yale.edu,zixin.chen@bulldogs.yale.edu,Jessie,Chen,YC,Yale College,None,...,None,None,None,NaN,"{'type': 'Point', 'coordinates': [118.7978437,...",30,8,None,None,None
66,20366.0,24122162.0,rmj35,ross.johnson@yale.edu,ross.johnson@bulldogs.yale.edu,Ross,Johnson,YC,Yale College,None,...,None,None,None,NaN,"{'type': 'Point', 'coordinates': [-74.1905775,...",1,12,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33738,37172.0,24338215.0,bcw38,brendan.wilkowski@yale.edu,brendan.wilkowski@bulldogs.yale.edu,Brendan,Wilkowski,YC,Yale College,None,...,None,None,None,NaN,"{'type': 'Point', 'coordinates': [-73.5525802,...",17,9,None,None,None
33745,37121.0,24266543.0,jmw258,jake.williams@yale.edu,jake.williams@bulldogs.yale.edu,Jake,Williams,YC,Yale College,None,...,None,None,None,NaN,"{'type': 'Point', 'coordinates': [-79.7053893,...",18,10,None,None,None
33746,37114.0,24528530.0,jaw239,jeremy.williams.jaw239@yale.edu,jeremy.williams.jaw239@bulldogs.yale.edu,Jeremy,Williams,YC,Yale College,None,...,None,None,None,NaN,None,8,2,None,None,None
33750,37047.0,17557294.0,sjw72,simone.williams@yale.edu,simone.williams@bulldogs.yale.edu,Simone,Williams,YC,Yale College,None,...,None,None,None,NaN,"{'type': 'Point', 'coordinates': [-87.70808249...",2,12,None,None,None
33754,37029.0,24269059.0,emw76,elise.williamson@yale.edu,elise.williamson@bulldogs.yale.edu,Elise,Williamson,YC,Yale College,None,...,None,None,None,NaN,"{'type': 'Point', 'coordinates': [-85.60190229...",7,3,None,None,None

In [43]:
# Filter this down to just the email and address and place_id columns
facebook_filtered = facebook_filtered[['email', 'address', 'place_id']]
facebook_filtered

,email,address,place_id
2,marley.finley@yale.edu,"7009 Ted Dr\nFalls Church, VA 22042-3942",None
20,edward.bohannon@yale.edu,"112 Spring St\nCarrollton, GA 30117-3048",None
44,joshua.bolchover@yale.edu,"53 Exeter Road\nLondon, NW24SE\nUnited Kingdom",None
63,zixin.chen@yale.edu,"Room 208 Building 1\nNanjing, 210000\nChina",None
66,ross.johnson@yale.edu,"73 Lakewood Ter\nBloomfield, NJ 07003-3748",None
...,...,...,...
33738,brendan.wilkowski@yale.edu,"East Meadow, NY 11554-5015",None
33745,jake.williams@yale.edu,"7000 Lyons View Ct\nMurrysville, PA 15668-2632",None
33746,jeremy.williams.jaw239@yale.edu,"600 W 246th St Apt 1208\nBronx, NY 10471-3629",None
33750,simone.williams@yale.edu,"3752 Cherry Hills Dr\nFlossmoor, IL 60422-1037",None
33754,elise.williamson@yale.edu,"28 Hallsdale Dr\nLouisville, KY 40220-3551",None

In [70]:
# Split the address on the \n character and take the later elements, giving us just the city
facebook_filtered_newline_removed = facebook_filtered.copy()
facebook_filtered_newline_removed['address'] = facebook_filtered_newline_removed['address'].str.split('\n').str[1:].str.join(', ')
facebook_filtered_newline_removed

,email,address,place_id
2,marley.finley@yale.edu,"Falls Church, VA 22042-3942",None
20,edward.bohannon@yale.edu,"Carrollton, GA 30117-3048",None
44,joshua.bolchover@yale.edu,"London, NW24SE, United Kingdom",None
63,zixin.chen@yale.edu,"Nanjing, 210000, China",None
66,ross.johnson@yale.edu,"Bloomfield, NJ 07003-3748",None
...,...,...,...
33738,brendan.wilkowski@yale.edu,,None
33745,jake.williams@yale.edu,"Murrysville, PA 15668-2632",None
33746,jeremy.williams.jaw239@yale.edu,"Bronx, NY 10471-3629",None
33750,simone.williams@yale.edu,"Flossmoor, IL 60422-1037",None
33754,elise.williamson@yale.edu,"Louisville, KY 40220-3551",None

In [102]:
def containsDigit(i: str) -> bool:
	return any(char.isdigit() for char in i)

# Split the address on the ' ' character and remove all elements that contain a number
facebook_filtered_newline_removed_space_removed = facebook_filtered_newline_removed.copy()
facebook_filtered_newline_removed_space_removed['address'] = facebook_filtered_newline_removed_space_removed['address'].str.split(' ')

# Remove all elements that contain a number from the array in address
facebook_filtered_newline_removed_space_removed['address'] = facebook_filtered_newline_removed_space_removed['address'].apply(lambda x: [i for i in x if not containsDigit(i)]).str.join(' ')

# The resulting array has just the city!
facebook_filtered_newline_removed_space_removed

                                 email                 address place_id
2               marley.finley@yale.edu        Falls Church, VA     None
20            edward.bohannon@yale.edu          Carrollton, GA     None
44           joshua.bolchover@yale.edu  London, United Kingdom     None
63                 zixin.chen@yale.edu          Nanjing, China     None
66               ross.johnson@yale.edu          Bloomfield, NJ     None
...                                ...                     ...      ...
33738       brendan.wilkowski@yale.edu                             None
33745           jake.williams@yale.edu         Murrysville, PA     None
33746  jeremy.williams.jaw239@yale.edu               Bronx, NY     None
33750         simone.williams@yale.edu           Flossmoor, IL     None
33754        elise.williamson@yale.edu          Louisville, KY     None

[5830 rows x 3 columns]

In [121]:
# Filter out addresses = ''
facebook_filtered_just_cities = facebook_filtered_newline_removed_space_removed[facebook_filtered_newline_removed_space_removed['address'] != '']
print(f"{len(facebook_filtered_newline_removed_space_removed) - len(facebook_filtered_just_cities)} addresses were removed because they were empty")

1212 addresses were removed because they were empty

In [122]:
# Convert to dictionary
facebook_filtered_just_cities = facebook_filtered_just_cities.to_dict('records')
len(facebook_filtered_just_cities)

4618

In [ ]:
# For each filtered place, get the place ID, description, longitude, and latitude from the Google Places API using the address field
import requests
import json

facebook_filtered_with_place_id = []
failed_api_calls = []
# For f in rows 1 of facebook_filtered_1_new_lines
for f in facebook_filtered_just_cities[0:100]:
	try:
		address = f['address']
		url = f'https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input={address}&inputtype=textquery&fields=place_id,name,geometry&key={google_places_key}'
		response = requests.get(url)
		data = json.loads(response.text)
		place_id = data['candidates'][0]['place_id']
		f['place_id'] = place_id
		facebook_filtered_with_place_id.append(f)
	except:
		print(f"{address} was not found")
		failed_api_calls.append(f)
		pass

In [114]:
facebook_filtered_with_place_id

[]

import.meta.env.VITE_GOOGLE_MAP_KEY